[submodule "Beehive/vendor/spdlog"]
	path = Beehive/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Beehive/vendor/GLFW"]
	path = Beehive/vendor/GLFW
	url = https://github.com/TheCherno/glfw
